# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Admin\Documents\Видео-статьи\Учёба\Литература\Статьи\pro-spring-5-master_code\PlugAndPlay\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
